.book-cover {
    width: 300px;
    height: auto;
    border: 1px solid red;
    grid-row-start: 1;
    grid-row-end: span 5;

}

/* .books {
     background-color: rgb(62, 121, 180);
     border: 1px solid red;
     padding: 24px;
    display: grid;
    column-gap: 24x;
    grid-template-columns: auto 1fr;

} */

.main-page-book-review {
    background-color: rgb(62, 121, 180);
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    border: solid rgb(255, 0, 0);
    /* background-color: white;
    border: 1px solid lightblue;
    padding: 24px;
  
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px; */
}



html {
    background-color: rgb(199, 206, 214);
}

main {
    background-color: rgb(200, 234, 240);
    border: 1px solid red;

}

footer {
    background-color:  rgb(139, 164, 189);
    align-items: center;
    column-gap: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid red;

}

/* .review-forms {
    margin: 10px;
    padding: 10px;
    background-color:  rgb(181, 187, 192);
} */

header {
    background-color:  rgb(139, 164, 189);
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 24px;
    border: 1px solid red;
}

p, h1, h2, h3 {
    border: 1px solid red;

}

